USE [H+Active]


-- add check constraint on BuildingNumber and unique constraint on DepartmentName

ALTER TABLE Departments
ADD CONSTRAINT CK_BuildingNumber
CHECK (BuildingNumber >= 1 AND BuildingNumber <= 5);

CREATE UNIQUE INDEX IX_Departments ON Departments(DepartmentName);